---
layout: archive
permalink: /data_proj/
author_profile: true
---

<!-- ---                              -->
<!-- layout: archive                  -->
<!-- title: "Data Science & Projects" -->
<!-- permalink: /data_proj/           -->
<!-- author_profile: true             -->
<!-- ---                              -->

{% include base_path %}

<hr style="height:3px; border:none; color:#333; background-color:#333;"> <!-- Add a horizontal line between sections -->

<h1 align="left">
  <br>Large Language Models</br> 
</h1>

<!-- Dailogy App -->

<h2><a href="./dailogy/dailogy.md">Dailogy App</a></h2>

<h1 align="left">
  <img src="/images/dailogy_logo.jpg" alt="drawing" width="100"/>
</h1>

A System for Detecting and Improving Dysfunctional Language.<br/>

<!-- Chatbot afa -->

<h2><a href="/_LLM_projects/2_chatbot_afa.md">Chatbot - <i>Agentur für Arbeit</i></a></h2>

<h1 align="left">
  <img src="/images/chatbot_afa_2.png" alt="drawing" width="200"/>
</h1>

Chat with the documents from the <i>Agentur für Arbeit</i>





{% for post in site.LLM_projects %}
  {% include archive-single.html %}
  <!-- <hr style="height:3px; border:none; color:#333; background-color:#333;"> --> <!-- Add a horizontal line between sections -->
{% endfor %}

<hr style="height:3px; border:none; color:#333; background-color:#333;"> <!-- Add a horizontal line between sections -->

<h1 align="left">
  <br>Data Visualization</br> 
</h1>

{% for post in site.data_viz %}
  {% include archive-single.html %}
  <!-- <hr style="height:3px; border:none; color:#333; background-color:#333;"> --> <!-- Add a horizontal line between sections -->
{% endfor %}
